footer{
  background-color: #0CA38D;
}
.botLogo{
  /*outline: solid 1px red;*/
  background-color: #0CA38D;
  padding-top: 20px;
  padding-left: 30px;
  img{
    height:50px;
    width: auto;
    padding-left: 10px;

  }
}
#lastLink{
  padding-right: 0px;
}
.botNav{
  /*outline: solid 1px yellow;*/
  font-size: 13px;
  background-color: #0CA38D;
  padding: 0px;
  ul{
    /*padding-left: 5px;*/
  }
  li{
    /*padding-right: 10px;*/
  }
  a{
    color: #eee;
    padding:16px 8px 0px;
    font-family: 'Caudex', serif;
  }
  a:hover{
    color: #26C3D7;
  }
  p{
    color: #eee;
    /*font-family:;*/
    padding:20px 90px 0px;
  }
}

.botInfo{
  /*outline: solid 1px blue;*/
  background-color: #0CA38D;
  padding: 10px 20px 0px;

  p{
    text-align: right;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /*outline: solid 1px yellow;*/
    margin-bottom: 0px;
  }
}
.botSocial{
  padding:0px 0px 0px;
  /*outline: solid red 1px;*/
  padding-left: 5px;
  a{
    color: #eee;
  }
  a:hover{
    color: #26C3D7;
  }
}
.designer{
  /*outline: solid 1px blue;*/
  color: #eee;
  font-size: 10px;
  padding-bottom: 10px;
}
.designer:hover{
    text-decoration: none;
    color: #26C3D7;
}
