$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$primary-color: #0fb1d4;
$secondary-color: #0c8c79;
$third-color: #565656;
$fourth-color: #000000;

$font-main-head: 'Caudex', serif;
$font-sub-head: 'Roboto', sans-serif;
$font-body: 'Crimson Text', serif
